backend/workflow-c-cron-notifier.json
{
  "name": "Workflow C - Daily Notifier (Cron)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "triggerAtHour": 21 },
            { "triggerAtHour": 22 },
            { "triggerAtHour": 23 }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron Trigger (21, 22, 23)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.MASTER_SYNC_SHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Master_Sync" },
        "options": {}
      },
      "id": "sheets-get-all-users",
      "name": "Get All Users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [450, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "google-sheets-cred", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const user = $input.first().json;\nconst sheetIds = user.Target_Sheet_IDs ? user.Target_Sheet_IDs.split(',').map(s => s.trim()).filter(s => s) : [];\nconst configs = user.Sheet_Configs ? JSON.parse(user.Sheet_Configs) : {};\nconst aliases = user.Aliases ? user.Aliases.split(',').map(s => s.trim()) : [];\n\nif (sheetIds.length === 0) {\n  return [{ json: { skip: true, reason: 'No sheets configured' } }];\n}\n\nreturn [{\n  json: {\n    lineUserId: user.Line_UID,\n    realName: user.Real_Name,\n    aliases,\n    sheetIds,\n    configs,\n    skip: false\n  }\n}];"
      },
      "id": "code-prepare-user",
      "name": "Prepare User Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-should-process",
      "name": "Should Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "const user = $input.first().json;\nreturn user.sheetIds.map(sheetId => ({\n  json: {\n    ...user,\n    currentSheetId: sheetId,\n    currentConfig: user.configs[sheetId] || null\n  }\n}));"
      },
      "id": "code-loop-sheets",
      "name": "Loop Through Sheets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $json.currentSheetId }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "={{ $json.currentConfig?.sheet_name || 'Sheet1' }}" },
        "options": { "range": "A1:Z100" }
      },
      "id": "sheets-read-target",
      "name": "Read Target Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1450, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "google-sheets-cred", "name": "Google Sheets" } },
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "wait-rate-limit",
      "name": "Wait (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "你是一位精準的資料查核員。分析 Google Sheet 數據，判斷使用者今日是否已填寫。\n\n未填寫定義：空白、NA、N/A、n/a、待填、待填寫、-、-- 或純空格\n\n回應必須是純 JSON 格式。"
            },
            {
              "role": "user",
              "content": "系統日期：{{ $now.format('YYYY-MM-DD') }}\n使用者別名清單：{{ $json.aliases }}\n欄位配置：姓名欄={{ $json.currentConfig?.name_column || '自動辨識' }}，日期欄={{ $json.currentConfig?.date_column || '自動辨識' }}，進度欄={{ $json.currentConfig?.progress_column || '自動辨識' }}\n\n數據來源：\n{{ JSON.stringify($node['Read Target Sheet'].json) }}\n\n輸出 JSON：\n{\n  \"status\": \"missing\" | \"completed\" | \"not_found\",\n  \"sheet_name\": \"報表名稱\",\n  \"found_name\": \"匹配到的姓名或null\",\n  \"progress_value\": \"進度欄的實際內容或null\"\n}"
            }
          ]
        },
        "options": { "temperature": 0.1 }
      },
      "id": "ai-check-status",
      "name": "AI Check Status",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1850, 300],
      "credentials": { "openAiApi": { "id": "openai-cred", "name": "OpenAI" } }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst missingReports = [];\nlet lineUserId = '';\nlet realName = '';\n\nfor (const item of items) {\n  lineUserId = item.json.lineUserId || lineUserId;\n  realName = item.json.realName || realName;\n  \n  try {\n    const aiResponse = item.json.message?.content || item.json.text || '{}';\n    const parsed = JSON.parse(aiResponse.replace(/```json\\n?|```/g, '').trim());\n    \n    if (parsed.status === 'missing') {\n      missingReports.push({\n        sheetId: item.json.currentSheetId,\n        sheetName: parsed.sheet_name || item.json.currentConfig?.sheet_name || 'Unknown',\n        sheetUrl: `https://docs.google.com/spreadsheets/d/${item.json.currentSheetId}`\n      });\n    }\n  } catch (e) {\n    // Skip parsing errors\n  }\n}\n\nreturn [{\n  json: {\n    lineUserId,\n    realName,\n    missingCount: missingReports.length,\n    missingReports,\n    shouldNotify: missingReports.length > 0\n  }\n}];"
      },
      "id": "code-aggregate-user",
      "name": "Aggregate User Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-notify",
              "leftValue": "={{ $json.shouldNotify }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-should-notify",
      "name": "Should Notify?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nlet message = `[提醒] 您今日尚有 ${data.missingCount} 份報表未填寫，請確認：\\n`;\n\ndata.missingReports.forEach((report, index) => {\n  message += `${index + 1}. ${report.sheetName}\\n   ${report.sheetUrl}\\n`;\n});\n\nreturn [{\n  json: {\n    lineUserId: data.lineUserId,\n    message: message.trim()\n  }\n}];"
      },
      "id": "code-format-message",
      "name": "Format LINE Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $json.lineUserId }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": {{ JSON.stringify($json.message) }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "http-line-push",
      "name": "LINE Push Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2650, 300],
      "credentials": { "httpHeaderAuth": { "id": "line-auth", "name": "LINE Messaging API" } }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.MASTER_SYNC_SHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Master_Sync" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Line_UID": "={{ $json.lineUserId }}",
            "Last_Check_Time": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}"
          }
        },
        "options": {}
      },
      "id": "sheets-update-check-time",
      "name": "Update Last Check Time",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2850, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "google-sheets-cred", "name": "Google Sheets" } }
    },
    {
      "parameters": {},
      "id": "no-op-skip",
      "name": "Skip (No Sheets)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1250, 450]
    },
    {
      "parameters": {},
      "id": "no-op-complete",
      "name": "Skip (All Complete)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2450, 450]
    }
  ],
  "connections": {
    "Cron Trigger (21, 22, 23)": { "main": [[{ "node": "Get All Users", "type": "main", "index": 0 }]] },
    "Get All Users": { "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]] },
    "Split In Batches": {
      "main": [
        [{ "node": "Prepare User Data", "type": "main", "index": 0 }],
        []
      ]
    },
    "Prepare User Data": { "main": [[{ "node": "Should Process?", "type": "main", "index": 0 }]] },
    "Should Process?": {
      "main": [
        [{ "node": "Loop Through Sheets", "type": "main", "index": 0 }],
        [{ "node": "Skip (No Sheets)", "type": "main", "index": 0 }]
      ]
    },
    "Loop Through Sheets": { "main": [[{ "node": "Read Target Sheet", "type": "main", "index": 0 }]] },
    "Read Target Sheet": { "main": [[{ "node": "Wait (Rate Limit)", "type": "main", "index": 0 }]] },
    "Wait (Rate Limit)": { "main": [[{ "node": "AI Check Status", "type": "main", "index": 0 }]] },
    "AI Check Status": { "main": [[{ "node": "Aggregate User Results", "type": "main", "index": 0 }]] },
    "Aggregate User Results": { "main": [[{ "node": "Should Notify?", "type": "main", "index": 0 }]] },
    "Should Notify?": {
      "main": [
        [{ "node": "Format LINE Message", "type": "main", "index": 0 }],
        [{ "node": "Skip (All Complete)", "type": "main", "index": 0 }]
      ]
    },
    "Format LINE Message": { "main": [[{ "node": "LINE Push Message", "type": "main", "index": 0 }]] },
    "LINE Push Message": { "main": [[{ "node": "Update Last Check Time", "type": "main", "index": 0 }]] },
    "Update Last Check Time": { "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]] },
    "Skip (No Sheets)": { "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]] },
    "Skip (All Complete)": { "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
