backend/workflow-a-user-api.json
{
  "name": "Workflow A - User API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/user/register",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "id": "webhook-register",
      "name": "Webhook Register",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "api/user/profile",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "webhook-profile",
      "name": "Webhook Profile",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-userid",
              "leftValue": "={{ $json.body.userId }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-register",
      "name": "Validate Register Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.MASTER_SYNC_SHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Master_Sync" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Line_UID": "={{ $json.body.userId }}",
            "Real_Name": "={{ $json.body.realName }}",
            "Aliases": "={{ $json.body.aliases.join(',') }}",
            "Target_Sheet_IDs": "={{ $json.body.sheetUrls.map(s => s.id).join(',') }}",
            "Sheet_Configs": "={{ JSON.stringify($json.body.sheetConfigs || {}) }}",
            "Created_At": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}",
            "Updated_At": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}"
          }
        },
        "options": {}
      },
      "id": "sheets-append",
      "name": "Google Sheets - Append User",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [850, 200],
      "credentials": { "googleSheetsOAuth2Api": { "id": "google-sheets-cred", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.MASTER_SYNC_SHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Master_Sync" },
        "filters": {
          "conditions": [
            { "lookupColumn": "Line_UID", "lookupValue": "={{ $json.body.userId }}" }
          ]
        },
        "options": {}
      },
      "id": "sheets-check-exists",
      "name": "Google Sheets - Check Exists",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [650, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "google-sheets-cred", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-exists",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-exists",
      "name": "User Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.MASTER_SYNC_SHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Master_Sync" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Line_UID": "={{ $('Webhook Register').item.json.body.userId }}",
            "Real_Name": "={{ $('Webhook Register').item.json.body.realName }}",
            "Aliases": "={{ $('Webhook Register').item.json.body.aliases.join(',') }}",
            "Target_Sheet_IDs": "={{ $('Webhook Register').item.json.body.sheetUrls.map(s => s.id).join(',') }}",
            "Sheet_Configs": "={{ JSON.stringify($('Webhook Register').item.json.body.sheetConfigs || {}) }}",
            "Updated_At": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}"
          }
        },
        "options": { "cellFormat": "USER_ENTERED" }
      },
      "id": "sheets-update",
      "name": "Google Sheets - Update User",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1050, 400],
      "credentials": { "googleSheetsOAuth2Api": { "id": "google-sheets-cred", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: { message: '使用者資料已儲存' }, error: null }) }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, data: null, error: '缺少必要欄位: userId' }) }}",
        "options": { "responseCode": 400 }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.MASTER_SYNC_SHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Master_Sync" },
        "filters": {
          "conditions": [
            { "lookupColumn": "Line_UID", "lookupValue": "={{ $json.query.userId }}" }
          ]
        },
        "options": {}
      },
      "id": "sheets-get-profile",
      "name": "Google Sheets - Get Profile",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [450, 500],
      "credentials": { "googleSheetsOAuth2Api": { "id": "google-sheets-cred", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all();\n\nif (data.length === 0) {\n  return [{ json: { success: false, data: null, error: '使用者不存在' } }];\n}\n\nconst user = data[0].json;\nreturn [{\n  json: {\n    success: true,\n    data: {\n      userId: user.Line_UID,\n      realName: user.Real_Name,\n      aliases: user.Aliases ? user.Aliases.split(',') : [],\n      sheetIds: user.Target_Sheet_IDs ? user.Target_Sheet_IDs.split(',') : [],\n      sheetConfigs: user.Sheet_Configs ? JSON.parse(user.Sheet_Configs) : {},\n      createdAt: user.Created_At,\n      updatedAt: user.Updated_At\n    },\n    error: null\n  }\n}];"
      },
      "id": "code-format-profile",
      "name": "Format Profile Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-profile",
      "name": "Respond Profile",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 500]
    }
  ],
  "connections": {
    "Webhook Register": { "main": [[{ "node": "Validate Register Data", "type": "main", "index": 0 }]] },
    "Validate Register Data": {
      "main": [
        [{ "node": "Google Sheets - Check Exists", "type": "main", "index": 0 }],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Google Sheets - Check Exists": { "main": [[{ "node": "User Exists?", "type": "main", "index": 0 }]] },
    "User Exists?": {
      "main": [
        [{ "node": "Google Sheets - Append User", "type": "main", "index": 0 }],
        [{ "node": "Google Sheets - Update User", "type": "main", "index": 0 }]
      ]
    },
    "Google Sheets - Append User": { "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]] },
    "Google Sheets - Update User": { "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]] },
    "Webhook Profile": { "main": [[{ "node": "Google Sheets - Get Profile", "type": "main", "index": 0 }]] },
    "Google Sheets - Get Profile": { "main": [[{ "node": "Format Profile Response", "type": "main", "index": 0 }]] },
    "Format Profile Response": { "main": [[{ "node": "Respond Profile", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "pinData": {}
}
